body{
  overflow-x: hidden;
  margin: 0%;
  padding: 0%;
  font-family: "Merriweather", serif;
  background: radial-gradient(ellipse at bottom, #87CEEB 0%, #5e6bb3 100%);
  min-height: 100vh;  
}


#searchButton{
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px rgba(68, 53, 134, 0.342);
}

#searchButton:hover {
  transform: scale(1.02);
  transition: transform ease-in 2ms;
}

#searchButton img{
  width: 25px;
}


#transDiv{
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid white;
  border-radius: 10px;
}

.trans{
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid white !important;
  border-radius: 10px;
  align-content: center;
}

.hover{
  cursor: pointer;
  box-shadow: 3px 3px 3px 3px rgba(68, 53, 134, 0.342);
}


.hover:hover{
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px rgba(68, 53, 134, 0.342);
}

